<div class="header">

<div class="header-info"> 
    <ul>
        <li>Los Angeles Gournadi, 1230 Bariasl</li>
        <li><a href="golden.brgers@email.com">golden.brgers@email.com</a></li>
        <li>Hours: 9:00 AM - 5:00 PM</li>
    </ul>
</div>
<div class="header-nav-container">
    <div class="header-logo-container">
        <div class="header-logo-image"><img src="../src/images/header-logo.jpeg" alt="header-logo"></div>
        <div class="header-logo-text">Golden<br>Gurger</div>
    </div>
    <div class="header-menu-conteiner">
        <ul class="header-menu-list">
            <li>About us</li>
            <li>Menu</li>
            <li>Catering</li>
            <li>Contacts</li>
        </ul>
    </div>
    <div class="header-social_network-conteiner">
        <ul class="header-social_network-list">
            <li><img src="../src/images/header-facebook.png" alt=""></li>
            <li><img src="../src/images/header-Instagram.png" alt=""></li>
            <li><img src="../src/images/header-youtube.png" alt=""></li>
        </ul>
    </div>
</div>
<div class="header-text-slogan">
<div class="header-text-logo">golden burgers</div>
<div class="header-slogan">you have a party - we have tasty burgers!</div>
<div class="header-text">Look out for our food truck on the streets of Los Angeles,
     order delivery or catering, and enjoy the taste jf juicy burgers!</div>
    </div>
<div class="header-order_button">
    <button>Order Now</button>
</div>
<div class="header-contacts">
    <div class="headenr-call-conteiner">
    <img src="../src/images/header-image-call.svg" alt="call-logo"></div>
    <div class="header-text-call_us">Call us</div>
    <div class="header-number"> +1(234)567 89 00</div>
</div>
<div class="header-backgraund-end">
    <img src="../src/images/header-background-bottom.svg" alt="backgraund-end">
</div>
</div>